@import '../../../styles/global.scss';

.inputField{
    display: inline-block;
    // width: 20.63vw;
    width: 25vw;
    height: 7.13vh;
    // font-size: 1.5em;
    border: 1px solid;
    border-color: #EBEBEB;
    border-radius: 9999em;
    padding-left: 2vw;
    color: #1E1C24;
}