@import '../../../styles/global.scss';

.primary_btn{
    border: transparent;
    background-color: #FD5353;
    color: white;
    width: 100%;
    height: 70px;
    // height: 7.13vh;
    border-radius: 9999em;
    box-shadow: 1px 11px 26px 0px rgba(253, 83, 83, 0.5);
    align-items: center;
}